.bg-F2F1EF {
    background-color: #F2F1EF !important;
}
.bg-B1A6A4 {
    background-color: #B1A6A4 !important;
}
.bg-6B5D33 {
    background-color: #6b5d33 !important;
}
.bg-413F3D {
    background-color: #413F3D !important;
}
.text-D8CFD5 {
    color: #D8CFD5 !important;
}